<header>
    <!-- Hero -->
    <div class="hero">
        <div class="title">
            <h1>JUXT OCR Server</h1>
            <!-- <h3>Demo Page</h3> -->
        </div>
        
        <a href="#demo" class="button">Get Started</a>
    </div>
</header>