<link rel="stylesheet" href="/static/css/home.css" media="screen">

{{!-- Page Content --}}
{{> header }}

<section>
    <div class="about">
        <h3>Welcome to JUXT</h3>
        <article>
            <!-- Juxt -->
            <div>
                This is the OCR Server of juxt.in <br>
            </div>
        </article>

        <article>
            <!-- Tesseract -->
            <div>
                Tesseract.js is a pure Javascript port of the popular Tesseract OCR engine. <br>
                This library supports over 60 languages, automatic text orientation and script detection, 
                a simple interface for reading paragraph, word, and character bounding boxes. <br><br>
                
                Tesseract.js can run either in a browser and on a server with NodeJS. <br><br>
                
                Check out the Example code and API docs on GitHub. <br>
            </div>
        </article>

        <h3><a name="demo">Demo</a></h3>
        <article class="demo">
            <div>
                <form action="/recognize" method="POST" encType="multipart/form-data" class="form">
                    <input type="file" name="fileupload" id="file">
                    <input type="submit" class="button solid" id="upload" value="UPLOAD">
                </form>
            </div>

            <div>
                <p>{{ text }}</p>
                <p>{{ data }}</p>
            </div>
        </article> 
    </div>
</section>

{{> footer }}
{{!-- End Page Content --}}