<link rel="stylesheet" href="/static/css/home.css" media="screen">

{{!-- Page Content --}}
{{> header }}

<section>
    <div class="about">
        <h1>Welcome to JUXT</h1>
        <article>
            <!-- Juxt -->
            <div>
                This is the OCR Server of juxt.in <br>
            </div>
        </article>

        <article>
            <!-- Tesseract -->
            <div>
                Tesseract.js is a pure Javascript port of the popular Tesseract OCR engine. <br>
                This library supports over 60 languages, automatic text orientation and script detection, 
                a simple interface for reading paragraph, word, and character bounding boxes. <br><br>
                
                Tesseract.js can run either in a browser and on a server with NodeJS. <br><br>
            </div>
        </article>

        <h2><a name="demo">Demo</a></h2>
        <article class="demo">
            <div id="recognize_form">
                <form action="/recognize" method="POST" encType="multipart/form-data" class="form" id="form">
                    <img src="" alt="" width="100%" id="recognized_image">
                    <input type="file" name="fileupload" id="fileupload" class="inputfile" data-multiple-caption="{count} files selected">
                    <label for="fileupload">Choose a File</label>
                    {{!-- <input type="submit" class="button solid" id="upload" value="UPLOAD"> --}}
                </form>
            </div>

            <div id="recognized">
                The recognized text will be shown here <br><br><br>
                <div> 
                    <p id="recognized_text">{{{ text }}}</p>
                </div>
                <p id="__data__" hidden="true">{{ data }}</p>
            </div>
        </article> 
        
        {{!--<article>
            <div id='demo-body'>
                <div id='drop-instructions-main'><p>Drop an English image on this page to OCR it!</p></div>
                <div id='demo-content'>
                    <div>
                        <canvas id='input-overlay'></canvas>
                        <img id='input' src="/static/cosmic.png"/>
                    </div>
                    <div>
                        <div id='log'></div>
                        <div id='demo-instructions'>
                            <span id='clickme' onclick='play()'>Click here to recognize text in the demo image</span>, 
                            or drop <span class='drop-instructions'>an English</span> image anywhere on this page.
                        </div>
                    </div>
                </div>
            </div>
        </article> --}}
    </div>
</section>

<script>
    (function(){
        var inputs = document.querySelectorAll( '.inputfile' );
        inputs.forEach(function(input){
            var label = input.nextElementSibling, labelVal = label.innerHTML;
            input.addEventListener('change', function(e){
                var fileName = '', flag=false;
                if( this.files && this.files.length > 1 )
                    fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                else
                    fileName = e.target.value.split( '\\' ).pop();

                if(fileName) {
                    label.innerHTML = fileName;
                    document.getElementById("form").submit();
                }
                else
                    label.innerHTML = labelVal;
            });
        });

        var data = document.getElementById("__data__").innerHTML;
        data = JSON.parse(data);
        console.log(data);
        if(data.recognized===true) {
            document.getElementById("recognized_image").removeAttribute('hidden');
            document.getElementById("recognized_image").setAttribute('src', '/storage/'+data.ref);
        } else {
            document.getElementById("recognized_image").setAttribute('hidden', 'true');
        }
    })()
</script>

{{> footer }}
{{!-- End Page Content --}}