@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,800,900');

* {
    box-sizing: border-box;
}

:root {
    --main: #ff9e00;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}

article {
    max-width: 75%;
    margin: 1em;
    padding: 1em;
}

.button {
    margin: 0.5em;
    padding: 1em 2em;
    border: none;
    border-radius: 1em;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}