.hero {
    padding: 4em;
    text-align: center;
    background: linear-gradient(var(--accent),var(--main));
}
.footer-hero {
    padding: 4em;
    text-align: center;
    background: linear-gradient(var(--main),var(--accent));
}

.title {
    text-align: center;
    margin: 3em 1.5em;
}
.title h1 {
    font-size: 4em;
}

.about {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.about * {
    margin: auto;
}

.demo {
    display: flex;
    flex-direction: row;
}
#recognize_form {
    margin: 1em auto;
    padding: 1em;
    max-width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#recognized {
    font-size: 0.75em;
    margin: 1em auto;
    padding: 1em;
    max-width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#recognized_text {
    font-size: 1.5em !important;
}

#form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    padding: 1em;
    margin: auto;
    font-size: 0.75em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius:0.5em;
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.inputfile + label {
	cursor: pointer;
}
.inputfile + label * {
	pointer-events: none;
}