.hero {
    padding: 4em;
    text-align: center;
    background: linear-gradient(var(--accent),var(--main));
}
.footer-hero {
    padding: 4em;
    text-align: center;
    background: linear-gradient(var(--main),var(--accent));
}

.title {
    text-align: center;
    margin: 3em 1.5em;
}
.title h1 {
    font-size: 4em;
}

.about {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.about * {
    margin: auto;
}